<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="mssql" connectionString="Data Source=127.0.0.1;Initial catalog=TravelAgency;User Id=sa;Password=scu510scu510;Connect Timeout=5;" />
    <!--<add name="mssql" connectionString="Data Source=182.150.20.247;Initial catalog=TravelAgency;User Id=sa;Password=zyqcosta@10$@@+$;Connect Timeout=5;"/>-->
    <add name="TravelAgency.CSUI.Properties.Settings.TravelAgencyConnectionString" connectionString="Data Source=192.168.1.106;Initial Catalog=TravelAgency;User ID=sa;Password=scu510scu510" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!--<add key="FTPServer" value="192.168.1.106:50001" />-->
    <add key="FTPServer" value="127.0.0.1:50001"/>
    <add key="FtpUserID" value=""/>
    <add key="FtpPassword" value=""/>
    <!--<add key="HproseServer" value="http://127.0.0.1:50002" />-->
    <add key="HproseServer" value="http://182.150.20.247:50002"/>
    <!--<add key="PassportPicPath" value="E:/东瀛假日签证识别管理系统/护照图像保存路径"/>-->
    <!--配置成服务器的图像保存路径就行了,本地图像不会从这里读取，本地图像是从程序根目录的/图像保存路径读取的，默认应该是E:/东瀛假日签证识别管理系统/护照图像保存路径-->
    <!--<add key="PassportPicPath" value="I:/PassportPics"/>-->
    <add key="Version" value="8.0"/>
    <add key="ServerProgramPath" value="E:/东瀛假日签证识别管理系统"/>

    <add key="PassportPicPath" value="E:/东瀛假日签证识别管理系统/护照图像保存路径"/>

    <!--<add key="GaopaiPicPath" value="I:/GaoPaiPics"/>-->
    <add key="GaopaiPicPath" value="E:/东瀛假日签证识别管理系统/高拍仪图像保存路径"/>
    <!--配置成服务器的图像保存路径就行了，默认应该是E:/东瀛假日签证识别管理系统-->
    <!--<add key="RedisServer" value="192.168.174.134:6379" />-->
    <add key="RedisServer" value="127.0.0.1:6379"/>
    <!--<add key="RedisServer" value="182.150.20.247:6379" />-->
    
    


  </appSettings>


  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="TravelAgencyLogs.txt"/>
      <appendToFile value="true"/>
      <!--最多10个日志备份文件-->
      <maxSizeRollBackups value="10"/>
      <!--每个文件最大1M-->
      <maximumFileSize value="1024KB"/>
      <!--回滚的格式按照大小-->
      <rollingStyle value="Size"/>

      <staticLogFileName value="true"/>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

</configuration>
